// Light Color
$light-color-A: #fefefe;
$light-color-B: #f3f3f3;
$light-color-C: #eee;
$light-color-D: #ddd;
// Dark Color
$dark-color-A: #1c1c1e;
$dark-color-B: #333;
$dark-color-C: #261e1e;
// Primary Color
$primary-color-A: #02ffffb3;
// Secondary Color
$secondary-color-A: #4285f4;
